html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    width: 100vw;
    border: 5px solid red;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background-color:  #F4F6FF;
    margin: 0 auto;
}

header {
    background-color: ;
}

#survey-form {
    display: flex;
    flex: 1;
    flex-direction: column;
}