* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #E0ECE4;
    height: 100%;
    max-width: 1440px;
}

main {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

/*-------------- HEADER -----------------*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
    width: 100%;
}

header > h1 {
    margin-bottom: 30px;
}

header > h4 {
    font-style: italic;
    margin-bottom: 2px;
}

hr {
    border: 1px solid #55AD9B;
    width: 100%;
}

/* ---------------- FORM ------------- */

form {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    margin-top: 30px;
    overflow: hidden;
}

.input-fields {
    display: relative;
}

.space {
    padding: 10px;
}

input {
    margin-top: 5px;
    height: 30px;
    width: 48%;
    padding: 0 2px;
    border: none;
}

.input-fields-radio {
    width: 30px;
    height: 30px;
    display: flex;
}

.gender-category {
    vertical-align: middle;
    margin-top: 10px;
    padding-left: 10px;
}

.label-name {
    font-size: 1.3rem;
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
}

.inputFull {
    width: 97.5%;
    padding: 0 2px;
}

.inputMedium {
    width: 86%;
}

.inputSmall {
    width: 20%;
    text-align: center;
}

.confirmation {
    width: 24px;
    display: flex;
}

.confirmation > .p {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 0.8em;
    border: 1px solid red;
}

.button {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

button {
    width: 100%;
    height: 2rem;
    font-size: 1.2em;
    letter-spacing: 1.2px;
    border-radius: 10px;
    border: none;
    background-color: #55AD9B;
}