* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #E0ECE4;
    height: 100%;
}

main {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

/*-------------- HEADER -----------------*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
    width: 100%;
}

header > h1 {
    margin-bottom: 30px;
}

header > h4 {
    font-style: italic;
    margin-bottom: 2px;
}

hr {
    border: 1px solid #55AD9B;
    width: 100%;
}

/* ---------------- FORM ------------- */

form {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    margin-top: 30px;
    overflow: hidden;
}

.space {
    padding: 10px;
}

input {
    margin-top: 5px;
    height: 30px;
    width: 48%;
    padding: 0 2px;
    border: none;
}

.label-name {
    font-size: 1.3rem;
    margin: 5px 0 5px 0
}

.inputFull {
    width: 97.5%;
    padding: 0 2px;
}