* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

code::before {
    content: "`<";
}

code::after {
    content: ">`";
}

.sign::before {
    content: "`";
}

.sign::after {
    content: "`";
}

body, html {
    padding: 0;
    margin: 0 auto;
    height: 100%;
    scroll-behavior: smooth;
    max-width: 600px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

nav {
    position: fixed;
    left: 50px;
    top: 10px;
}

.nav-bar {
    margin: 0 auto;
    padding: 0;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
    padding: 10px 10px;
}