* {
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: #F6F5F2;
    margin: 0;
}

main {
    padding: 25px;
    background-color: #D8D3CD;
    margin: 10px 25px;
    border-radius: 10px;
}

header {
    text-align: center;
}

header h1 {
    font-weight: 800;
}

#img-div {
    background-color: #F6F5F2;
    border-radius: 10px;
}

header img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}