* {
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: #F6F5F2;
    margin: 0;
}

main {
    padding: 25px;
    background-color: #D8D3CD;
    margin: 10px 25px;
    border-radius: 10px;
}

header {
    border: 1px solid red;
    text-align: center;
}

header h1 {
    font-weight: 800;
}

header img {
    background-image: url('https://i.ibb.co/fxcyXMs/Jose-Rizal.webp');
}