* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#main {
    border: 1px solid red;
    height: 100vh;
}

#img-div {
   border: 1px solid red;
   background-image: url("https://i.ibb.co/hypxGcP/1.jpg");
   background-size: cover;
   height: 100%;
   opacity: 60%;
}

#title {
    position: absolute;
    top: 30%;
    left: 60%;
}

#title h4 {
    font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 1.5px;
    padding: 0;
    border: 1px solid blue;
}