body {
    background-color: hsl(30, 54%, 90%);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

main {
    width: 70%;
    height: 100vh;
    margin: 100px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    margin: 30px;
}

.content img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}